.active-entry-container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5%;
  // padding: 5vw 5vw 0 5vw;
  padding: 50px 50px 0 50px;
  position: relative;
  margin: 0 auto;
}

p {
  margin: unset;
}
.active-entry-main {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.active-entry-container div {
  min-width: 30%;
}

.active-entry-temp,
.active-entry-date,
.active-entry-weekday {
  color: $text-color-white;
  font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
}

.active-entry-description,
.active-entry-main,
.active-entry-location {
  color: $text-color-grey;
  font-family: 'Roboto-Regular', Arial, Helvetica, sans-serif;
  font-size: $small-text-size;
}

.active-entry-temp {
  font-size: 10vw;
  text-align: center;
}

.active-entry-location {
  text-align: left;
}
.active-entry-date,
.active-entry-weekday {
  font-size: 4vw;
  text-align: left;
}

.active-entry-container img {
  width: 14vw;
  position: relative;
  margin: 0 auto;
}