.weather-entry {
  border: 1px solid;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 6px;
  padding: 32px 0;
}

.weather-entry:hover {
  background-color: $bg-color-hover;
}

.weather-entry-time {
  color: $text-color-grey;
}

.weather-entry-temp {
  color: $text-color-white;
}

.weather-entry p {
  pointer-events: none;
}